.container-fluid {
  margin: 50px;
}

.main-text {
  margin: 50px;
}

.header-text {
  text-align: center;
}

.jumbotron {
  font-family: helvetica;
  font-weight: lighter;
  padding-top: 20px;
  padding-bottom: 5px;
}

#form-output {
  display: none;
}

#logo {
  max-width: 20%;
  height: auto;
  margin: 10px;
  padding: 5px;
}
